/****Layout********
.fs-14 {
    font: size 14px;
}

.fs-20 {

    font: 20px;
}

.fs-30 {

    font: 30px;
}


#first-article {
    font-size: larger;

}


h1, h2, h3, h4  {
    color : red }

*/

body {background-color: lightslategray;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1  {
    color: rgb(7, 7, 40);
    font-size: medium;
    text-transform: uppercase;
    background-color: azure;
}

h2  {
    color: darkgreen;
    font-size: medium;
    text-transform: uppercase;
    background-color: beige;
}


h3  {
    color: rgb(56, 2, 2)65, 0);
    font-size: medium;
    text-transform: uppercase;
}


p   {
    color: rgb(59, 56, 242);font-size: small;
}


ul {background-color:#FFA733}

